<!DOCTYPE html>
<html>
    <head>
        <title> {{page.title}}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
        <link rel='stylesheet' href='styles/style.css'>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="grid-spaceBetween">  
            <p class="logo col-2">
                KOI
            </p>
            <nav class="col-6">
                <a href= "#">
                    Clothing
                </a>
                <a href= "#">
                    Shoes
                </a>
                <a href= "#">
                    Bags            
                </a>
            </nav>
        </header>
        {{content}}
    </body>
</html>
