<!DOCTYPE html>
<html>
    <head>
        <title> {{page.title}}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
        <link rel='stylesheet' href='styles/style.css'>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>  
        </header>
        <section class="grid-center banner">
            <div class='col-6-middle centered'>
                <h1>
                    6 Blocks!
                </h1>
                <h2>
                    {{ page.title }}
                </h2>
             </div>
        </section>
        {{content}}
    </body>
</html>
